<!DOCTYPE html>
<html>
<head>
  <title>Showay</title>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACx0a1qYUvYcAUjRgv3rJCyHS8K4O0c-M&libraries=places">
  </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<div class="header">
    <div class="left-side">
      <a href="/" target="no_follow"><%= image_tag 'showay_full.png', :class=>'logo', height: 78 %></a>
      <input type="text" id="location-autosuggest" placeholder="Insert a position">
    </div>
    <div class="right-side">
      <a type="button" disabled class="btn btn-header" href="/search">SEARCH</a>
      <a type="button" disabled class="btn btn-header " href="/team">TEAM</a>
      <a type="button" disabled class="btn btn-header " href="/">LOGIN</a>
      <a type="button" disabled class="btn btn-header last" href="/">REGISTER</a>
    </div>
  </div>

  <%= yield %>

</body>
</html>
